.search-bar{
    width:50%;
    height: 20px;
    padding-bottom: 10%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#task-name{
    width: 100%;
}

.command-bt{
    height: 20px;
    cursor: pointer;
}

.typing-location{
    width: 80%;
    text-align: center;
}

.filter_bt{
    display: flex;
    align-items: center;
    height: 40px;
}

.filter_img{
    height: 20px;
}

.filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
    width: 100px;
}

.round{
    border-radius: 50%;
}

.tasks-list{
    position: fixed;
    margin-top: 10%;
    width: 50vw;
    height: 50vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
}
.task-name{
    height: 100%;
    width: 100%;
}

.tasks{
    width: 100%;
    padding: 10px;
}

.task{
    display: flex;
    align-items: center;
    height: 50px;
}
.set-text{
    display: flex;
    align-items: center;
    margin: 5px 10px;
    background-color: bisque;
    color: black;
    height: 45px;
    padding: 2% 10px;
    width: fit-content
}

.check-del{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 40px;
}
.checkbox{
    height: 50%;
    width: 20px;
}

.del{
    background-color: grey;
    text-align: center;
    font-size: 8px;
    width: 20px;
    height: 50%;
}

.crossed{
    text-decoration: line-through;
}
